/* *{
    border: 2px solid #AAAA; */
/* } */

:root {
    --bg: #1F2937;
    --fg: #F9FAFB;
    --gray: #E5E7EB;
}

body{
    margin: 0;
    padding: 0;
    background: var(--fg);
    font-family: 'Roboto', sans-serif;
}

/* Top bit / Header  */

/* Top level div, wraps the header bar, the image, and the text stuff together */
.header {
    background: var(--bg);
    color: var(--fg);
}

/* TODO: remove this and clean */
/* The Title thing */
h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom : -10px;
}

a {
    text-decoration: none;
    color: var(--gray);
}

a:hover {
    color: #d2d3d6;
}

/* the header bar */
.bar {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}

button {
    background: #3B82F6;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
}

button:hover {
    background-color: #3f6dd9;
}

.content{
    display: flex;
    justify-content: center;
    padding: 60px;
}

.box{
    flex-direction: column;
    width: 500px;
    margin-right: 80px;
    text-align: left;
    align-items: flex-start;
}

img{
    width: auto;
    height: 300px;
    margin: 50px;
}

.links {
    display: flex;
    gap: 30px;
}

/* Middle Box */

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box {
    border: 4px solid #3B82F6;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.middle .info {
    color: var(--bg);
    border: none;
    font-size: 36px;
    font-weight: bolder;
    padding: 40px;
}

.middle .boxes {
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
    text-align: center;
    padding: 30px;
}

h5 {
    margin-top: 10px;
}

.mid-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.quote {
    color: var(--bg);
    display: flex;
    padding: 60px;
    align-items: center;
    justify-content: center;
    background: var(--gray);
    text-align: right;
}

.contact {
    display:flex;
    justify-content: center;
    padding: 50px;
}

.contact .box {
    display: flex;
    background: #3B82F6;
    width: 60%;
    color: var(--fg);
    padding: 30px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.footer {
    background: var(--bg);
    color: var(--fg);
    padding: 30px;
    text-align: center;
}